<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>DeskUp - Article Title</title>
        <link rel="stylesheet" href="index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md fixed-top animated ">
            <a class="navbar-brand logo" href="/">
                <span>DeskUp</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/featured">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories">Categories</a>
                    </li>
                </ul>
                
                <form action="searchResult" method="GET">
                    <input type="search" name="search" class="search-data" placeholder="Search" required>
                    <button type="submit" class="fas fa-search"></button>
                </form>

                {{#if admin}}
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownbg">
                            <i class="fas fa-user"></i>Admin
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="user-profile" id="dropdowntext">User Profile</a>
                            <a class="dropdown-item" href="manage-users" id="dropdowntext">Manage Users</a>
                            <a class="dropdown-item" href="manage-post" id="dropdowntext">Manage Post</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="signout" id="dropdowntext">Logout</a>
                        </div>
                    </div>
                {{else if username}}
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownbg">
                            <i class="fas fa-user"></i>{{username}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="user-profile" id="dropdowntext">User Profile</a>
                            <a class="dropdown-item" href="manage-post" id="dropdowntext">Manage Post</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="signout" id="dropdowntext">Logout</a>
                        </div>
                    </div>
                {{else}}
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownbg">
                            <i class="fas fa-user"></i>Account
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/login" id="dropdowntext">Login</a>
                            <a class="dropdown-item" href="/register" id="dropdowntext">Register</a>
                        </div>
                    </div>
                {{/if}}
            </div>
        </nav>

        <div class="content" id="marginclass">
            <div class="container">
                <nav aria-label="breadcrumb" >
                    <ol class="breadcrumb" id="breadcrumbBG">
                        <li class="breadcrumb-item"><a href="/" id="breadcrumbItemColor">Home</a></li>
                        <li class="breadcrumb-item"><a href="/featured" id="breadcrumbItemColor">Featured</a></li>
                        <li class="breadcrumb-item active" aria-current="page">The 10 Best 144hz Monitor for your Gaming Needs</li>
                    </ol>
                </nav>
                <div class="fPostSolo">
                    <div class="row">
                        <div class="col-12 m-auto">
                            <h3>The 10 Best 144hz Monitor for your Gaming Needs</h3>
                        </div>
                    </div>
                    <br>

                <div class="row" >
                    <div class="col-12 m-auto">
                        <img src="images/lgUW.png" class="img-responsive featuredIMG">
                    </div>
                </div>

                <div class="row" >
                    <div class="col-12 m-auto author">
                        <br>
                        <span class="author">by Jeric Barraza. August 31, 2020</span>
                        
        
                    </div>
                </div>
                    <br>
                <div class="row" >
                    <div class="col-12 m-auto">
                        <p class="fpost-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lorem eget odio pulvinar ullamcorper.
                            Duis ut purus sed tortor dapibus feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                            Nullam euismod urna eget dolor sodales volutpat. In egestas, ipsum a dapibus lacinia, mi ligula faucibus elit, et egestas eros nisl vestibulum diam. 
                            Pellentesque placerat sagittis justo, sit amet tristique magna dignissim ut. In a sodales arcu, sit amet imperdiet erat. Etiam in elementum velit. 
                            Sed nunc ante, varius vitae odio at, laoreet eleifend sapien. Nulla facilisi. </p>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-12 m-auto">
                        <div class="row" >
                            <div class="col-12 m-auto">
                            <div class="sub-header">
                                <h3>LG 38UC99-W</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row prod">
                            <div class="col-6">
                                <img src="images/lgUW.png" class="img-responsive featuredIMG">
                            </div>
                            <div class="col-4">
                                <p class="specs reviewText"><h3>Specifications</h3>Screen size: 37.5" Curved <br> Resolution: 3840 x 1600 <br> Refresh Rate: 60 Hz / 75Hz with Display Port with FreeSync 
                                    <br> Panel Type: IPS <br>  sRGb over 99% <br>  1ms Motion Blur Reduction <br> USB Type-C™ & USB 3.0 Quick Charge <br> Bluetooth Speakers with Rich Bass                  
                                </p>
                                <a href="ReviewPost" class="btn btn-primary" id="seeReview">See Our Review</a>
                            </div>
                        </div>
                        <br>
                        <div class="row" >
                            <div class="col-12 m-auto">
                            <p class="fpost-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lorem eget odio pulvinar ullamcorper.
                                Duis ut purus sed tortor dapibus feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Nullam euismod urna eget dolor sodales volutpat. In egestas, ipsum a dapibus lacinia, mi ligula faucibus elit, et egestas eros nisl vestibulum diam. 
                                Pellentesque placerat sagittis justo, sit amet tristique magna dignissim ut. In a sodales arcu, sit amet imperdiet erat. Etiam in elementum velit. 
                                Sed nunc ante, varius vitae odio at, laoreet eleifend sapien. Nulla facilisi. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-12 m-auto">
                        <div class="row" >
                            <div class="col-12 m-auto">
                            <div class="sub-header">
                                <h3>ASUS VG279QM</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row prod">
                            <div class="col-6">
                                <img src="images/asus.jpg" class="img-responsive featuredIMG">
                            </div>
                            <div class="col-4">
                                <p class="specs reviewText"><h3>Specifications</h3>
                                Size: 27"<br>
                                Resolution: 1920x1080<br>
                                Max Refresh Rate:280 Hz<br>
                                Pixel Type:IPS<br>
                                Variable Refresh Rate:FreeSync
                
                                </p>
                                <a href="ReviewPost" class="btn btn-primary" id="seeReview">See Our Review</a>
                            </div>
                        </div>
                        <br>
                        <div class="row" >
                            <div class="col-12 m-auto">
                            <p class="fpost-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lorem eget odio pulvinar ullamcorper.
                                Duis ut purus sed tortor dapibus feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Nullam euismod urna eget dolor sodales volutpat. In egestas, ipsum a dapibus lacinia, mi ligula faucibus elit, et egestas eros nisl vestibulum diam. 
                                Pellentesque placerat sagittis justo, sit amet tristique magna dignissim ut. In a sodales arcu, sit amet imperdiet erat. Etiam in elementum velit. 
                                Sed nunc ante, varius vitae odio at, laoreet eleifend sapien. Nulla facilisi. </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" >
                    <div class="col-12 m-auto">
                        <div class="row" >
                            <div class="col-12 m-auto">
                            <div class="sub-header">
                                <h3>Dell SE2719HR</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row prod">
                            <div class="col-6">
                                <img src="images/dell.webp" class="img-responsive featuredIMG">
                            </div>
                            <div class="col-4">
                                <p class="specs reviewText"><h3>Specifications</h3>
                                    Size: 27 inches <br>
                                    Resolution: 1920 x 1080 <br>
                                    Refresh Rate: 75Hz <br> Response Time: 8 ms <br>
                                    Ports: HDMI, VGA <br> Frame Syncing: AMD FreeSync
                                </p>
                                <a href="ReviewPost" class="btn btn-primary" id="seeReview">See Our Review</a>
                            </div>
                        </div>
                        <br>
                        <div class="row" >
                            <div class="col-12 m-auto">
                            <p class="fpost-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lorem eget odio pulvinar ullamcorper.
                                Duis ut purus sed tortor dapibus feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Nullam euismod urna eget dolor sodales volutpat. In egestas, ipsum a dapibus lacinia, mi ligula faucibus elit, et egestas eros nisl vestibulum diam. 
                                Pellentesque placerat sagittis justo, sit amet tristique magna dignissim ut. In a sodales arcu, sit amet imperdiet erat. Etiam in elementum velit. 
                                Sed nunc ante, varius vitae odio at, laoreet eleifend sapien. Nulla facilisi. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-12 m-auto">
                        <div class="row" >
                            <div class="col-12 m-auto">
                            <div class="sub-header">
                                <h3>HP EliteDisplay S14</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row prod">
                            <div class="col-6">
                                <img src="images/hp.webp" class="img-responsive featuredIMG">
                            </div>
                            <div class="col-4">
                                <p class="specs reviewText"><h3>Specifications</h3>
                                    Size: 14 inches <br>
                                    Resolution: 1920 x 1080 <br>
                                    Refresh Rate: 60 Hz <br> 
                                    Response Time: 5ms <br>
                                    Ports: USB-C (video and power) <br>
                                    Frame Syncing: None
                                </p>
                                <a href="ReviewPost" class="btn btn-primary" id="seeReview">See Our Review</a>
                            </div>
                        </div>
                        <br>
                        <div class="row" >
                            <div class="col-12 m-auto">
                            <p class="fpost-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lorem eget odio pulvinar ullamcorper.
                                Duis ut purus sed tortor dapibus feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Nullam euismod urna eget dolor sodales volutpat. In egestas, ipsum a dapibus lacinia, mi ligula faucibus elit, et egestas eros nisl vestibulum diam. 
                                Pellentesque placerat sagittis justo, sit amet tristique magna dignissim ut. In a sodales arcu, sit amet imperdiet erat. Etiam in elementum velit. 
                                Sed nunc ante, varius vitae odio at, laoreet eleifend sapien. Nulla facilisi. </p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="row related">
                    <div class="col-12 m-auto">
                        <div class="row" >
                                <div class="col-12 m-auto">
                                <div class="related-header">
                                    <h3>Related Posts</h3>
                                    </div>
                                </div>
                            <br>
                        </div>

                        <div class="row content">
                            <div class="col-4 m-auto">
                                <img src="images/lgUW.png" class="img-responsive featuredIMG">

                            </div>
                            <div class="col-8 m-auto">
                                <h3><a href="ReviewPost">LG's stunning 38-inch UltraWide Monitor</a></h3> 
                                <span>by Patrick Simpao</span>
                                <p>As technology becomes more and more advanced, there's a lot of options for 
                                    Gaming monitors. From RoG, to DELL, and LG, 144hz are here to stay. Goodbye 60hz monitors.</p>
                            </div>
                        </div>


                        
                        <div class="row content">
                            <div class="col-4 m-auto">
                                <img src="images/dell.webp" class="img-responsive featuredIMG">
                            </div>
                            <div class="col-8 m-auto">
                                <h3><a href="ReviewPost">Dell's affordable 27-inch Infinity Display Monitor</a></h3> 
                                <span>by Marco Pangilinan</span>
                                <p>Dell's 27-inch Infinity Display is here to satisfy your monitor needs! Check out our in-depth review of this 
                                    stunning monitor to help you decide which monitor to buy for your next office setup upgrade
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {{#if admin}}
                    <div class="container mb-5">
                        <p class="comments">Comments</p>
                        <form action="comment" method="POST">
                            <div class="d-flex flex-row">
                                {{!-- <div class="p-2"><i class="fas fa-comment-alt fa-3x"></i></div> --}}
                                <input class="commentNow" type="tex" id="comment" name="comment" placeholder="Write a comment..."></input>
                            </div> 
                            <div class="row d-flex justify-content-end">
                                <button type="submit" class="commentLoginbutton">Comment</button>
                                {{!-- <a href="/login" style="color: white; text-decoration: none">Comment</a> --}}
                            </div>
                        </form>
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text w-100">
                                <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                                <div class="comment-footer"> 
                                    <span class="text-muted float-right">August 14, 2020</span> 
                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editComment"> Edit</button> 
                                    <button type="button" class="btn btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteComment">Delete</button>
                                </div>            
                            </div>

                        </div> 

                        <div class="d-flex flex-row comment-row">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text active w-100">
                                <h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">I have the same product and its great!. </span>
                                <div class="comment-footer"> 
                                    <span class="text-muted float-right">August31, 2020</span> 
                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editComment"> Edit</button> 
                                    <button type="button" class="btn btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteComment">Delete</button>
                                </div>
                            </div>
                        </div>
        
                        <div class="d-flex flex-row comment-row">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" alt="user" width="50" class="rounded-circle"></div>
                                <div class="comment-text w-100">
                                <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Thanks for the wonderful review. </span>
                                <div class="comment-footer"> 
                                    <span class="text-muted float-right">September 3, 2020</span> 
                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editComment"> Edit</button> 
                                    <button type="button" class="btn btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteComment">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {{else if username}}
                    <div class="container mb-5">
                        <p class="comments">Comments</p>
                        <form action="comment" method="POST">
                            <div class="d-flex flex-row">
                                {{!-- <div class="p-2"><i class="fas fa-comment-alt fa-3x"></i></div> --}}
                                <input class="commentNow" type="tex" id="comment" name="comment" placeholder="Write a comment..."></input>
                            </div> 
                            <div class="row d-flex justify-content-end">
                                <button type="submit" class="commentLoginbutton">Comment</button>
                                {{!-- <a href="/login" style="color: white; text-decoration: none">Comment</a> --}}
                            </div>
                        </form>
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text w-100">
                                <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                                <div class="comment-footer"> 
                                    <span class="text-muted float-right">August 14, 2020</span> 
                                </div>            
                            </div>

                        </div> 

                        <div class="d-flex flex-row comment-row">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text active w-100">
                                <h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">I have the same product and its great!. </span>
                                <div class="comment-footer"> 
                                    <span class="text-muted float-right">August31, 2020</span> 
                                </div>
                            </div>
                        </div>
        
                        <div class="d-flex flex-row comment-row">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" alt="user" width="50" class="rounded-circle"></div>
                                <div class="comment-text w-100">
                                <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Thanks for the wonderful review. </span>
                                <div class="comment-footer"> 
                                    <span class="text-muted float-right">September 3, 2020</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="container mb-5">
                        <p class="comments">Comments</p>
                        <div class="d-flex flex-row">
                            {{!-- <div class="p-2"><i class="fas fa-comment-alt fa-3x"></i></div> --}}
                            <div class="commentNow">Login or Sign Up to leave a comment</div>
                        </div> 
                        <div class="row d-flex justify-content-end">
                            <div class="commentLoginbutton"><a href="/login" style="color: white; text-decoration: none">Login</a></div>
                            <div class="commentLoginbutton"><a href="/register" style="color: white; text-decoration: none">Sign Up</a></div>
                        </div>

                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text w-100">
                                <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>   
                                <div class="comment-footer"> <span class="text-muted float-right">August 14, 2012</span> </div>   
                            </div>

                        </div> 

                        <div class="d-flex flex-row comment-row">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text active w-100">
                                <h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">I have the same product and I have the same thoughts! </span>
                                <div class="comment-footer"> <span class="text-muted float-right">August 31, 2020</span> </div>
                            </div>
                        </div>
        
                        <div class="d-flex flex-row comment-row" id="forhover">
                            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" alt="user" width="50" class="rounded-circle"></div>
                                <div class="comment-text w-100">
                                <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Great review!. </span>
                                <div class="comment-footer"> <span class="text-muted float-right">September 3, 2020</span> </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>   
        </div>  
        {{!-- EDIT MODAL --}}
        <div class="modal fade" id="editComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="form-group">
                        <textarea class="form-control" id="message-text" placeholder="Edit your comment..."></textarea>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Edit</button>
                </div>
                </div>
            </div>
        </div>
        {{!-- DELETE MODAL --}}
        <div class="modal fade" id="deleteComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your comment?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="" class="btn btn-danger">Delete</a>
                </div>
                </div>
            </div>
        </div>
        <div class="mt-5 pt-4 pb-3 footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xs-12 about-company">
                        <h2>About Us</h2>
                        <p class="pr-5 text-white-50">DeskUp is a product review website. It shares insight, inspiration and ideas about desk setups. 
                            Contains detailed guides and reviews of different products found on a desk setup</p>
                        <p>NPM Packages: Express, HBS, Express-Session, Body-parser, Mongoose, Bootsrap</p>
                        </div>
                    <div class="col-lg-2 col-xs-12 links">
                        {{!-- <h4 class="mt-lg-0 mt-sm-3">More</h4>
                        <ul class="m-0 p-0">
                            <li>- <a href="#">Community</a></li>
                            <li>- <a href="#">Contributors</a></li>
                            <li>- <a href="#">Developers</a></li>
                        </ul> --}}
                    </div>
                    <div class="col-lg-4 col-xs-12 location">
                        <h4 class="mt-lg-0 mt-sm-4">Contact Us</h4>
                        <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
                        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
                        <p><i class="fa fa-envelope mr-3"></i>DeskUp@dkup.com</p>
                    </div>
                </div>
                <div class="row mt-2 border-top">
                    <div class="col copyright">
                    <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>
